@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import 'bulma';
@import '~bulma/bulma';


.login-form {
  .control {
    margin-top: .5rem;
  }
}

.justified-flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.justified-flex-container:after {
  content: '';
  flex-grow: 999999;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.marginal-slim-box {
  @extend .box;
  margin: .2rem .2rem;
  padding: .4rem .7rem;
}


.amount-cell {
  text-align: right !important;
}

.price-cell {
  text-align: right !important;
}


.table.discounts {
  th {
    text-align: center;
    vertical-align: middle;
  }

  th.loyalty {
    color: orange;

    .loyalty-id {
      color: lightgray;
      font-weight: normal;
    }
  }

  td {
    text-align: center;
  }

  td.rg {
    font-weight: bold;
    color: grey;
  }

  td.purchase {
    color: blue;
  }

  td.positive {
    color: red;
  }

  th.modified,
  td.modified {
    background-color: #ffe3e3;
  }
}
