<template>
    <nav class="level button-link">
        <div class="level-item level-left">
            <a :class="['button', size, color]" :href="href">
                <span class="icon" v-if="fa">
                    <fa :icon="fa"></fa>
                </span>
                <span>{{ title }}</span>
            </a>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "ButtonLink",
        props: {
            id: String,
            href: String,
            fa: String,
            title: String,
            size: String,
            color: String
        }
    }
</script>

<style scoped>
    .button-link {
        margin-top: 1.44rem;
    }
</style>
