<template>
    <div class="field is-horizontal button-submit-component">
        <div :class="['field-label', size]" v-if="!noLabel">
            <label class="label" :for="id" v-if="label">
                {{ label }}
            </label>
        </div>
        <div class="field-body">
            <div class="field is-grouped">
                <p class="control">
                    <input type="submit"
                           :class="['button', size, color]"
                           :id="id"
                           :name="id"
                           :href="href"
                           :value="title"
                    >
                </p>
                <p class="control" v-if="cancelHref">
                    <a :class="['button', 'cancel-btn', size]"
                           :href="cancelHref"
                    >
                        {{ cancelTitle }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Button",
        props: {
            label: String,
            id: String,
            href: String,
            title: String,
            size: String,
            color: String,
            cancelHref: String,
            cancelTitle: {
                type: String,
                default: 'Cancel'
            },
            noLabel: Boolean
        }
    }
</script>

<style scoped>
    .button-submit-component .cancel-btn {
        margin-left: 2rem;
    }

</style>
