<template>
    <div class="field is-horizontal">
        <div :class="['field-label', size]">
            &nbsp;
        </div>
        <div class="field-body">
            <div class="field is-grouped">
                <p class="control">
                    <input type="submit"
                           :class="['button', 'is-danger', size]"
                           :value="title"
                    >
                </p>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "ButtonDelete",
        props: {
            title: String,
            size: String
        }
    }
</script>

<style scoped>

</style>
