<template>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" :for="id">
                {{ label }}
            </label>
        </div>
        <div class="field-body">
            <input type="checkbox"
                   :id="id"
                   :name="id"
                   v-model="isChecked"
            >
        </div>
    </div>
</template>

<script>
    export default {
        name: "Checkbox",
        data() {
            return {
                isChecked: false
            }
        },
        props: {
            label: String,
            id: {
                type: String,
                required: true
            },
            checked: Boolean
        },
        mounted() {
            this.isChecked = this.checked;
        }
    }
</script>

<style scoped>

</style>
