<template>
    <div class="field is-horizontal">
        <div :class="['field-label', size]">
            <label class="label" :for="id">
                {{ label }}
            </label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div :class="['select', color, size]">
                    <select :id="id"
                            :name="id"
                            v-model="selected"
                    >
                        <option v-for="option in options" :value="option.value">
                            {{ option.title }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Dropdown",
        data() {
            return {
                selected: null
            }
        },
        props: {
            label: String,
            options: Array,
            id: {
                type: String,
                required: true
            },
            preselected: Number,
            preselectTheFirst: Boolean,
            size: String,
            color: String
        },
        mounted() {
            if (this.preselected) {
                this.selected = this.preselected;
            }
            else if (this.preselectTheFirst && this.options.length) {
                this.selected = this.options[0].value;
            }
        }
    }
</script>

<style scoped>

</style>
