<template>
    <div :class="styles">
        <label class="file-label">
            <input class="file-input"
                   type="file"
                   ref="files"
                   :name="name"
                   :multiple="multiple"
                   @change="onChange"
            >
            <span class="file-cta">
                <span class="file-icon">
                    <fa icon="upload"></fa>
                </span>
                <span class="file-label">
                    {{ title }}
                </span>
            </span>
            <span class="file-name" v-if="hasName">
                {{ fileNamesPreview }}
            </span>
        </label>
    </div>
</template>

<script>
    export default {
        name: "File",
        props: {
            name: String,
            size: String,
            color: String,
            modifiers: String,
            title: String,
            multiple: String
        },
        data() {
            return {
                chosenFileNamesArray: null
            }
        },
        methods: {
            onChange: function () {
                if (this.$refs.files.files) {
                    this.chosenFileNamesArray = Object.values(
                        this.$refs.files.files
                    ).map(
                        file => file.name
                    );
                }
            }
        },
        computed: {
            styles: function () {
                return ['file', this.size, this.color, this.modifiers].join(' ');
            },
            hasName: function () {
                return this.modifiers.includes('has-name');
            },
            fileNamesPreview: function () {
                if (this.chosenFileNamesArray) {
                    return this.chosenFileNamesArray.join(', ');
                } else {
                    return null
                }
            }
        }
    }
</script>

<style scoped>

</style>