<template>
    <div :class="['notification', color]" v-if="isVisible">
        <button class="delete" @click="hide"></button>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Notification",
        props: {
            color: String
        },
        data() {
            return {
                isVisible: true
            };
        },
        methods: {
            hide() {
                this.isVisible = false;
            }
        }
    }
</script>

<style scoped>

</style>
