<template>
    <div class="field is-horizontal">
        <div :class="['field-label', size]">
            <label class="label" :for="id">
                {{ label }}
            </label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control">
                    <input :class="['input', size, color]"
                           :type="type"
                           :id="id"
                           :name="id"
                           :placeholder="placeholder"
                           :value="value"
                    >
                </p>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Input",
        data() {
            return {
                input: 'input'
            }
        },
        props: {
            label: String,
            type: {
                type: String,
                default: 'text' // text, password, email, tel
            },
            id: {
                type: String,
                required: true
            },
            placeholder: String,
            value: String,
            size: String,
            color: String,
            focus: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            if (this.focus) {
                this.$el.querySelector('input').focus();
            }
        }
    }
</script>

<style scoped>

</style>
