<template>
    <div class="card catalog-import">
        <header class="card-header">
            <div class="card-header-title">
                <div class="level is-fullwidth">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle">
                                #<strong>{{ id }}</strong>
                            </p>
                        </div>
                        <div class="level-item">
                            <p class="subtitle created-at">
                                {{ createdAt }}
                            </p>
                        </div>
                        <div class="level-item">
                            <a class="button is-outlined is-small" href="#" @click.stop.prevent="getRandomRows">
                                <fa icon="eye" size="lg"></fa>
                            </a>
                        </div>
                        <div class="level-item apply" v-if="rows">
                            <slot name="apply-btn"></slot>
                        </div>
                    </div>
                    <div class="level-right is-fullwidth">
                        <div class="level-item">
                            <slot name="delete-btn"></slot>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-content" v-if="rows">
            <div class="content">
                <div class="raw-preview">
                    <table :class="['table is-bordered is-hoverable is-narrow', {obsolete: isObsolete}]">
                        <thead>
                            <tr>
                                <th>номер</th>
                                <th class="price-cell">цена, &euro;</th>
                                <th>RG</th>
                                <th>примечание</th>
                                <th class="price-cell">pfand, &euro;</th>
                                <th class="amount-cell">вес, кг</th>
                                <th>teileart</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in rows">
                                <td>{{ row.part_number }}</td>
                                <td class="price-cell">{{ centAsEuro(row.cent_price) }}</td>
                                <td>{{ row.rg }}</td>
                                <td>{{ row.warning }}</td>
                                <td class="price-cell">{{ centAsEuro(row.cent_prand) }}</td>
                                <td class="amount-cell">{{ gramAsKg(row.weight) }}</td>
                                <td>{{ row.teileart }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul>
                    <li v-for="file in files">
                        {{ file.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "CatalogImport",
        props: {
            id: String,
            createdAt: String,
            previewUrl: String,
            hrefDelete: String
        },
        data() {
            return {
                isObsolete: false,
                rows: null,
                files: null
            }
        },
        methods: {
            getRandomRows() {
                this.isObsolete = true;
                axios
                    .get(this.previewUrl)
                    .then(response => {
                        this.isObsolete = false;
                        this.rows = response.data.rows;
                        this.files = response.data.files;
                    })
            },
            centAsEuro(cent) {
                return window.helper.centAsEuro(cent)
            },
            gramAsKg(g) {
                return window.helper.gramAsKg(g)
            }
        },
        computed: {
        }
    }
</script>

<style lang="scss" scoped>
    .catalog-import {
        margin-bottom: .3rem;
        .level {
            width: 100%;
        }
        .apply {
            margin-left: 2rem;
        }
    }
    .level-left {
        margin-right: 1rem;
    }
    .created-at {
        font-size: 1rem;
    }
    .obsolete {
        opacity: .44;
    }
</style>