<template>
    <a :href="href">
        <div class="human marginal-slim-box">
            <strong>{{ name }}</strong>
            <br>
            {{ email }}
            <p v-if="imps.length">
                {{ this.imps.map(imp => imp.code).join(', ') }}
            </p>
        </div>
    </a>
</template>

<script>
    export default {
        name: "Human",
        props: {
            name: {
                type: String,
                required: true
            },
            email: {
                type: String,
                required: true
            },
            note: String,
            imps: Array,
            href: String
        }
    }
</script>

<style lang="scss" scoped>

</style>