<template>
    <a :href="href">
        <div class="imp marginal-slim-box">
            <strong>{{ code }}</strong>
            <p v-if="humans">
                <p v-for="human in humans" :key="id">
                    {{ human.name }}
                </p>
            </p>
        </div>
    </a>
</template>

<script>
    export default {
        name: "Imp",
        props: {
            code: {
                type: String,
                required: true
            },
            note: String,
            humans: Array,
            href: String
        }
    }
</script>

<style lang="scss" scoped>

</style>