<template>
    <a :href="href">
        <div class="minion marginal-slim-box">
            {{ code }} :
            {{ name }}
        </div>
    </a>
</template>

<script>
    export default {
        name: "Minion",
        props: {
            name: {
                type: String,
                required: true
            },
            code: {
                type: String,
                required: true
            },
            note: String,
            href: String
        }
    }
</script>

<style lang="scss" scoped>

</style>