<template>
    <a :href="href">
        <div class="supplier marginal-slim-box">
            {{ name }}
        </div>
    </a>
</template>

<script>
    export default {
        name: "Supplier",
        props: {
            name: {
                type: String,
                required: true
            },
            href: String
        }
    }
</script>

<style lang="scss" scoped>

</style>