<template>
    <div class="supply-show card">
        <header class="card-header">
            <p class="card-header-title">
                {{ name }}
            </p>
            <a v-if="href"
               :href="href"
               class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <fa icon="cog" aria-hidden="true" size="lg"></fa>
                </span>
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                <slot></slot>
                <div class="justified-flex-container" v-if="grantedTo">
                    <div class="marginal-slim-box" v-for="admin in grantedTo">
                        {{ admin.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Supply",
        props: {
            name: {
                type: String,
                required: true
            },
            grantedTo: Array,
            href: String
        }
    }
</script>

<style lang="scss" scoped>

</style>