<template>
    <a :href="href">
        <div class="supply marginal-slim-box">
            <strong>{{ name }}</strong>
            <br>
            {{ supplier }}
            <br>
            {{ manufacturer }}
        </div>
    </a>
</template>

<script>
    export default {
        name: "Supply",
        props: {
            name: {
                type: String,
                required: true
            },
            manufacturer: String,
            supplier: String,
            href: String
        }
    }
</script>

<style lang="scss" scoped>

</style>